@model List<BarSzybkiejObsługiMVC.Models.Zamowienie>
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wszystkie zamówienia</h2>
<div style="margin:20px 0">
    <div style = "float:left">@Html.ActionLink("Dodaj nowe zamówienie", "Zamowienia", "Dodaj", null, new { @class = "btn btn-info" })</div>
    <div style="margin-left:50px;float:left"><input type="text" class="form-control" placeholder="Wpisz kod zamówienia"/></div>
    <div style="clear:both"></div>
</div>

<div class="row">
    <table id="lista-zamowien" class="table table-hover col-xs-12">
        <tr>
            <td>Id zamówienia</td>
            <td>Data dodania</td>
            <td>Kod zamówienia</td>
            <td>Kwota zamówienia</td>
            <td>Stan zamówienia</td>
            <td>Czy zapłacono?</td>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ZamowienieId</td>
                <td>@item.DataDodania</td>
                <td>@item.KodZamowienia</td>
                <td>@item.Platnosc.Kwota</td>
                <td>@item.StanZamowienia</td>
                <td>
                    @{
                        var czyZaplacono = "Tak";
                        if (!item.Platnosc.CzyZaplacono) { czyZaplacono = "Nie"; }
                    }
                    @czyZaplacono
                </td>
                <td>@Html.ActionLink("Szczegóły", "Szczegoly", "Zamowienia", new { id = item.ZamowienieId }, new { @class = "btn btn-info" })</td>
            </tr>
        }

    </table>
</div>