@model List<BarSzybkiejObsługiMVC.ViewModels.KontoVM>
@{
    ViewBag.Title = "Konta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wszystkie konta użytkowników</h2>

@Html.ActionLink("Dodaj nowe konto", "Register", "Account", null, new { @class = "btn btn-info" })
<table class="table table-striped">
    <tr>
        <th>Użytkownik</th>
        <th>Imię i nazwisko</th>
        <th>Adres e-mail</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.NazwaUzytkownika</td>
            <td>@item.ImieNazwisko</td>
            <td>@item.Email</td>
            <td>
            @Html.ActionLink("Usuń", "Usun", "Konto", new { id = item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}
</table>